<template>

  <section class="landing" :style="{backgroundImage: 'url(' + baseUrl + '/static/img/main-bg.png' + ')'}">
    <div class="gradient"  :style="{backgroundImage: 'url(' + baseUrl + '/static/img/main-bg.png' + ')'}"></div>
    <div class="cont">
      <div class="logos">
        <div class="tri">
          <img :src="baseUrl + '/static/img/espn-logo.png'" width="100px">
          <img :src="baseUrl + '/static/img/nba-logo.png'" height="100px">
          <img :src="baseUrl + '/static/img/all-access-logo.png'" width="100px">
        </div>
        <center><img :src="baseUrl + '/static/img/sports-center-logo.png'" width="250px"></center>
      </div>
      <div class="box">
        <div class="box-bg" :style="{backgroundImage: 'url(' + baseUrl + '/static/img/box-bg.png' + ')'}"></div>
        <div class="title">NBA All Access<br>Washington Fly-In Promo</div>
        <div class="desc">Here’s your chance to win an exciting week of NBA Action, including two Washington Wizards home games!</div>
        <div class="desc">Enter the Word Of The Day along with your information, and click send for a valid entry.</div>
        <div class="desc">Your NBA All-Access Experience awaits!</div>
        <center><router-link to="register" class="cus-btn" >Register</router-link></center>
      </div>

    </div>
  </section>

  <!-- <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">

        <div class="card"> -->
          <!-- <div class="card-header">
            Featured
          </div> -->
          <!-- <div class="card-body">
            <h4 class="card-title">NBA ALL ACCESS</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <router-link to="register" class="btn btn-danger" >Register</router-link>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div> -->
</template>

<script>
export default {
  name: 'Landing',
  data(){
    return{
      baseUrl:''
    }
  },
  mounted(){
    this.baseUrl = window.Laravel.baseUrl
  }
}
</script>
